alembic
authlib
beautifulsoup4
python-dotenv
extruct
fastapi
fastapi-mail
google-api-python-client
python-magic
openai
pandas
passlib
pdfplumber
playwright
pydantic
pydantic-settings
python-jose
sqlalchemy
starlette
trafilatura
uvicorn
httpx
