fastapi
uvicorn
SQLAlchemy
alembic
pydantic>=2
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
fastapi-mail
python-multipart
httpx
pandas
openpyxl
pdfplumber
playwright
beautifulsoup4
trafilatura
extruct
google-api-python-client
python-magic
psycopg2-binary
=======
uvicorn[standard]
sqlalchemy
alembic
python-jose[cryptography]
passlib[bcrypt]
authlib
python-dotenv
pydantic-settings
httpx
fastapi-mail
python-multipart
psycopg2-binary
pandas
openpyxl
pdfplumber
python-magic
beautifulsoup4
playwright
trafilatura
extruct
google-api-python-client
Dev
